/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
}

/* 아래에 container css style을 지정해주세요. */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: #070a07;
  color: #ff7710;
  /* border: 1px solid white; */
}

/* 아래에 item css style을 지정해주세요. */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /**/
}

.item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.item:nth-child(2) {
  border: 20px solid white;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.item:nth-child(3) {
  border-top: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.item:nth-child(4) {
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* Area2 */
@font-face {
  font-family: "Roboto-Regular";
  src: url("./static/font/Roboto-Regular.ttf");
}

.insta_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Roboto-Regular";
  zoom: 0.5;
  /* padding: 0px 0px 20px 0px; */
  /* margin-bottom: 53%; */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

/* body {
  display: flex;

} */

.insta_item {
  display: flex;
  border: 1px solid black;
  color: white;
  align-items: center;
  padding: 20px 0px 20px 20px ;
}

/* .insta_item:nth-child(1) {
  background-color: black;
} */

.arrow::after {
  content:'\f104';
  font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 600; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
  margin-left: 10px;
  margin-right: 250px;
}


.insta_item:nth-child(1) {
  background-color: #121212;
  font-size: 20px;
  padding: 5px 0px 5px 20px ;
}

.insta_item:nth-child(1) img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.ellipsis::after {
  content:'\f141';
  font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight: 600; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
  margin-left: 320px;
}

.insta_item:nth-child(2) {
  padding: 0px 0px 0px 0px ;
}

.insta_item:nth-child(2) img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.insta_item:nth-child(3) {
  background-color: black;
  justify-content: space-around;

}

.bookmark::after {
  content:'\f02e';
  font-family:"Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
  font-weight:200; /*폰트어썸 굵기 Solid Style(fas) 600필수*/
  margin-left: 420px;
  margin-right: 20px;
}

.insta_item:nth-child(4) {
  padding: 0px 0px 0px 20px ;
  background-color: black;
}

.insta_item:nth-child(5) {
  background-color: black;
  font-size: 15px;
  color: #A8A8A8;
  padding: 0px 0px 20px 5px ;
}

/* .insta_item:nth-child(6) {
  color: black;
  border-top: thin solid #212121;
  background-color: black;
}

.insta_item:nth-child(7) {
  background-color: black;
  border-top: thin solid #212121;
  justify-content: space-around;
} */

/* .insta_item:nth-child(8) img{
  width: 40px;
  height: 40px;
} */

i {
  font: inherit;
}




/* Area3 */

.container2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2:nth-child(1) {
  grid-column: 1 / 2;

}
.item2:nth-child(2) {
  
  grid-column: 2 / 3;
  display: block;

}

table {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
}

th, td {
  border : 2px solid black;
  padding: 10px;
  text-align: center;
}

/* h2 {
  border : 2px solid white;
} */

ul, li {
  /* border : 2px solid white; */
  padding: 10px;
  margin-left: 30px;
  font-size: 15px;
}

h2 {
  padding: 10px;
  margin-left: 30px;
  font-size: 25px;
}


/* 애니메이션 */
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

.grow {
  animation-duration: 3s, 3s;
  animation-name: grow, fade-out;
  animation-iteration-count: infinite;
}

